{% extends "user/layout.html" %}
{% block content %}
<body>
<div class="page-wraper">
  <div class="container mt-5">

    <h3>Today Tasks</h3>

    
    <table class="table table-bordered mt-3">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Task Title</th>
          <th>Description</th>
          <th>Due Date</th>
          <th>Status</th>
          <th>Created Date</th>
          <th>User_id</th>
          <th>Priority</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% set count = 1 %}
        {% for j in data %}
        {% set count = loop.index %}
        <tr>
          <td scope="row">{{count}}</td>
          <td>{{j[1]}}</td>
          <td>{{j[2]}}</td>
          <td>{{j[3].strftime('%d-%m-%Y')}}</td>
         {% if j[4] == 1 %}
          <td>Completed</td>
          {% else %}
          <td>Pending</td>
          {% endif %}
          <td>{{j[5].strftime('%d-%m-%Y')}}</td>
          <td>{{j[6]}}</td>
          <td>{{j[7]}}</td>
          <td>
                        <form action="{{url_for('delete_task',task_id=0)}}" style="display:inline">
                            <button type="submit" class="btn-action btn-delete">Delete</button>
                        </form>
                    </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    
    <p>No tasks found.</p>
    

  </div>
</div>
{% endblock %}